@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
@model PaginatedList<MarmitoAPI.Models.MitoUser>

@{
    ViewData["Title"] = "Index";
}

<div id="title">
    <img src="images/marmito.png">
</div>


@foreach (MarmitoAPI.Models.MitoUser mito in Model)
{
    <div class="mito">
        <div>
            <span class="bigquote">&#34</span>
            <span class="mitocontent">@Html.DisplayFor(item => mito.Mito.Content)</span>
            <span class="bigquote">&#34</span>
        </div>
        <div class="mitoauthor">
            @mito.User.Name
        </div>
        <div>
            <span>
                <li>
                    <a asp-area="" asp-controller="Mito" asp-action="Update" asp-route-id="@mito.Mito.Id"><img src="~/images/edit.svg"/></a>
                </li>
            </span>
        </div>
    </div>
    <hr/>
}

<a asp-controller="Mito" asp-action="Create">Créer Mito</a>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Tout afficher</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Mito</th>
            <th>Categorie</th>
            <th>Auteur</th>
            <th>Edition</th>
            <th>Suppression</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MarmitoAPI.Models.MitoUser mito in Model)
        {
            <tr class="mito" id="@mito.Mito.Id">
                <td>@Html.DisplayFor(item => mito.Mito.Content)</td>
                @if (mito.Mito.Category == MarmitoAPI.Models.Mito.CategoryList.INDISP)
                {
                    <td>Indisponible</td>
                }
                else if (mito.Mito.Category == MarmitoAPI.Models.Mito.CategoryList.FAMILY)
                {
                    <td>Famille</td>
                }
                else if (mito.Mito.Category == MarmitoAPI.Models.Mito.CategoryList.WORK)
                {
                    <td>Travail</td>
                }
                else if (mito.Mito.Category == MarmitoAPI.Models.Mito.CategoryList.LOVE)
                {
                    <td>Amour</td>
                }
                else
                {
                    <td>Autres</td>
                }


                <td>@mito.User.Name</td>

                @if (httpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Id"))
                {
                    if (mito.Mito.AuthorId.ToString() == httpContextAccessor.HttpContext.Request.Cookies["Id"])
                    {
                        <td><li><a asp-area="" asp-controller="Mito" asp-action="Update" asp-route-id="@mito.Mito.Id">Éditer</a></li></td>
                        <td><li><a asp-area="" asp-controller="Mito" asp-action="Remove" asp-route-id="@mito.Mito.Id">Suppression</a></li></td>
                    }
                }

            </tr>
        }
    </tbody>

</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Précédent
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-page="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Suivant
</a>