@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
@model List<MarmitoAPI.Models.MitoUser>

@{
    ViewData["Title"] = "Index";
}

<a asp-controller="Mito" asp-action="Create">Créer Mito</a>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Tout afficher</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Mito</th>
            <th>Categorie</th>
            <th>Auteur</th>
            <th>Edition</th>
            <th>Suppression</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MarmitoAPI.Models.MitoUser mito in Model)
        {
            <tr class="mito" id="@mito.Mito.Id">
                <td>@Html.DisplayFor(item => mito.Mito.Content)</td>
                @if (mito.Mito.Category == MarmitoAPI.Models.Mito.CategoryList.INDISP)
                {
                    <td>Indisponible</td>
                }
                else if (mito.Mito.Category == MarmitoAPI.Models.Mito.CategoryList.FAMILY)
                {
                    <td>Famille</td>
                }
                else if (mito.Mito.Category == MarmitoAPI.Models.Mito.CategoryList.WORK)
                {
                    <td>Travail</td>
                }
                else if (mito.Mito.Category == MarmitoAPI.Models.Mito.CategoryList.LOVE)
                {
                    <td>Amour</td>
                }
                else
                {
                    <td>Autres</td>
                }


                <td>@mito.User.Name</td>

                @if (httpContextAccessor.HttpContext.Request.Cookies.ContainsKey("Id"))
                {
                    if (mito.Mito.AuthorId.ToString() == httpContextAccessor.HttpContext.Request.Cookies["Id"])
                    {
                        <td><li><a asp-area="" asp-controller="Mito" asp-action="Update" asp-route-id="@mito.Mito.Id">Éditer</a></li></td>
                        <td><li><a asp-area="" asp-controller="Mito" asp-action="Remove" asp-route-id="@mito.Mito.Id">Suppression</a></li></td>
                    }
                }

            </tr>
        }
    </tbody>

</table>